@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

  $first-color:#1a73e8;
  $border-color:#dadce0;
  $border-color-focus: #000;

  $body-font:'Roboto', sans-serif;
  $normal-font-size: 1rem;
  $small-font-size: 0.75rem;


