@import "src/app/styles/variables";
@import "src/app/styles/wrapper";


.note {
  &__wrapper {
    margin: 0;
    padding: 0;
    font-family: $body-font;
    font-size: $normal-font-size;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  &__form {
    width: 506px;
    padding: 48px 83px;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }

  &__form-title {
    margin-bottom: 1.5rem;
  }

  &__form-div {
    position: relative;
    height: 61px;
    margin-left: 23px;
  }

  &__form-input {
    width: 295px;
    height: 39px;
    padding: 1rem;
    font-size: 14px;
  }

  &__form-input-checkbox {
    position: relative;
    width: 78px;
    left: 197px;
    top: 10px;
  }

  &__form-footer-button {
    display: block;
    margin-top: 25px;
    margin-left: 23px;
    width: 295px;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: $first-color;
    color: #fff;
    font-size: $normal-font-size;
    border-radius: .5rem;
    cursor: pointer;
  }

  &__refresh-footer-button {
    position: relative;
    left: -401px;
    top: 273px;
    width: 295px;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: $first-color;
    color: #fff;
    font-size: $normal-font-size;
    border-radius: .5rem;
    cursor: pointer;
  }
}

label {
  position: relative;
  top: -5px;
}


table, th, td {
  border: 1px solid black;
}

table {
  position: relative;
  left: 75px;
  width: 300px;
}
