<div class="login__wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login__form">
    <div class="login__icons">
      <img src="./assets/icons/Group%2074.svg" class="login__icon-img login__icon-img-flag" alt="flag">
      <img src="./assets/icons/image%201.svg" class="login__icon-img login__icon-img-logo" alt="logo">
      <img src="./assets/icons/Group%2095.svg" class="login__icon-img login__icon-img-bulb" alt="bulb">
      <img src="./assets/icons/Group%2096.svg" class="login__icon-img login__icon-img-health" alt="health">
      <img src="./assets/icons/Group%2097.svg" class="login__icon-img login__icon-img-people" alt="people">
      <img src="./assets/icons/трофей.svg" class="login__icon-img login__icon-img-trophy" alt="trophy">
      <img src="./assets/icons/эмоции.svg" class="login__icon-img login__icon-img-lightning" alt="lightning">
      <img src="./assets/icons/Vector.svg" class="login__icon-img login__icon-img-cross" alt="cross">
    </div>
    <h1 class="login__form-title">Заверши регистрацию</h1>
    <h4 class="login__form-title">Введите имя и пароль,чтобы продолжить</h4>
    <div class="login__form-div">
      <input type="text" formControlName="email" class="input login__form-input" placeholder="Введи электронный адрес">
      <div *ngIf="form.get('email').invalid && form.get('email').touched">
        <span class="error" *ngIf="form.get('email').errors['required']">E-mail является обязательным.</span>
        <span class="error" *ngIf="form.get('email').errors['email']">Введи  E-mail.</span>
      </div>
    </div>
    <div class="login__form-div">
      <input type="text" formControlName="firstName" class="input login__form-input" placeholder="Твоё имя">
      <div *ngIf="form.get('firstName').invalid && form.get('firstName').touched">
        <span class="error" *ngIf="form.get('firstName').errors['required']">Введи имя.</span>
        <span class="error" *ngIf="form.get('firstName').errors['pattern']">Введи корректное имя.</span>
      </div>

    </div>
    <div class="login__form-div">
      <input type="password" formControlName="password" class="input login__form-input" placeholder="Придумай пароль">
      <div *ngIf="form.get('password').invalid && form.get('password').touched">
        <span class="error" *ngIf="form.get('password').errors['required']">Введи пароль.</span>
        <span class="error"
              *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
          Пароль должен быть больше {{form.get('password').errors['minlength']['requiredLength']}}
          символов. Сейчас {{form.get('password').errors['minlength']['actualLength']}} символов.</span>
      </div>

    </div>
    <div class="login__form-footer">
      <input type="submit" class="login__form-footer-button" [disabled]="form.invalid || form.disabled"
             value="Зарегистрироваться">
      <input type="reset" routerLink="/signIn" class="login__form-footer-button login__form-footer-button-cancel" value="Отмена">
    </div>
  </form>
</div>

